<head>
  <meta charset="utf-8">
  <title>Aena Presentation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/static/public/img/favicon.png">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="/static/libs/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/libs/owl.theme.default.min.css">
  <link rel="stylesheet" href="/static/libs/angular-material.min.css">
  <!-- app css -->
  <link rel="stylesheet" href="/static/app.css">
</head>
<div class="detail" layout="column" layout-align="space-between">
  <div layout="column">
    <header layout="row" layout-align="start">
      <!-- <md-button ng-click='backHome()'>Volver</md-button> -->
    </header>
    <div class="contentImage" layout="row" layout-align="center center">
      <img class="imageDetail" ng-style="imgSize" src="{{detail.img}}" alt="">
      <label class="label" layout='row' layout-align='center center'>{{detail.name}}</label>
    </div>
  </div>
  <div class="info" layout="column">
    <div layout="row" layout-align='center center'>
      <p class="subTitle">Autor: <span>{{detail.author}}.</span></p>
      <!-- <p class="subTitle">{{collection}}: <span>{{collectionName}}.</span></p> -->
    </div>
    <div layout="row" layout-align='center center'>
     <md-button class="md-raised" ng-click='backHome()' style="padding-top: 30px; padding-left:50px; padding-bottom: 30px; padding-right: 50px;"><h1>Volver</h1></md-button>
   </div>
   <p>{{detail.description}}.</p>
 </div>
 <footer layout='row' layout-align='center center'>
  <!-- <img src="/static/public/img/alex-alemany.jpg" alt=""> -->
  <img src="/static/public/img/aena-logo.png" alt="">
</footer>
</div>
