.detail {
  min-height: 100vh;
  /* color: #707070; */
  color: #000000;
}
.detail .md-button {
  color: #F2A869;
  font-family: 'Quicksand-Medium';
  text-transform: capitalize;
  font-size: 18px;
}
.detail .contentImage {
  width: auto;
  position: relative;
}
.detail .contentImage img {
  width: 35%;
  height: 35%;
  object-fit: contain;
}
.detail .label {
  min-width: 320px;
  background: #F2A869 url('../../public/img/label-background.png');
  background-size: cover;
  padding: 15px 0;
  /* color: white; */
  color: #000000;
  font-size: 28px;
  font-family: 'Quicksand-Medium';
  position: absolute;
  bottom: -30px;
  box-shadow: 0;
}
.detail .info {
  width: 600px;
  margin: 35px auto;
}
.detail .info .subTitle{
  color: #F2A869;
  font-family: 'Quicksand-Medium';
}
.detail .info .subTitle span{
  color: #707070;;
  font-family: 'Quicksand-Regular';
}
@media only screen and (max-width: 600px) {
  .detail .contentImage img {
    width: 90%;
  }
  .detail .info {
    width: 90%;
  }
}
