.home {
  min-height: 100vh;
  height: 100vh;
}
.home md-select {
  margin-left: 25px;
}
md-select-menu md-content md-option {
  color: #F2A869;
}
md-select-menu md-content md-option[selected] {
  color: #F2A869 !important;
  font-family: 'Quicksand-Medium';
}
.home md-select .md-select-value span {
  color: #F2A869;
  font-family: 'Quicksand-Medium';
}
.home .sign {
  height: 250px;
  margin: 0 auto;
}
footer, header {
  height: 60px;
}
footer img {
  height: 60%;
  margin: 0 15px;
}

/* cards scroll */
.home .contentCards {
  width: 100%;
  /* padding: 10px 0;
  margin: 0 auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow-x: hidden; */
  /* -webkit-overflow-scrolling: touch; */
}
.home .contentCards .card {
  /* flex: 0 0 auto; */
  margin: 0;
  width: 250px;
  height: 250px;
  padding: 0 0;
  position: relative;
}
.home .contentCards .card .cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home .contentCards::-webkit-scrollbar {
  display: none;
}
.home .contentCards .card:first-child {
  margin-left: 0;
}
.home .contentCards .card:last-child {
  margin-right: 0;
}
.home .labelCard {
  width: 100%;
  background: #F2A869 url('../../public/img/label-background.png');
  background-size: cover;
  padding: 10px 0;
  /* color: white; */
  color: #000000;
  font-size: 18px;
  font-family: 'Quicksand-Medium';
  position: absolute;
  left: 0;
  bottom: 20px;
}
/* animation cards */
/* .animation {
  animation-name: scrollAuto;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  -webkit-animation-name: scrollAuto;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
} */
/* .home .contentCards:hover .card, .home .contentCards:hover .card {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
-webkit-@keyframes scrollAuto {
  from {
    transform: translate(390%, 0);
  }
  to {
    transform: translate(-2500%, 0);
  }
}
@keyframes scrollAuto {
  from {
    transform: translate(390%, 0);
  }
  to {
    transform: translate(-2500%, 0);
  }
} */
