<div class="home" layout="column" layout-align="space-between">
  <div layout="column">
    <header layout="row" layout-align="space-between center">
      <md-select ng-model="lenguage" class="md-no-underline" aria-label="select lenguage">
        <md-option selected value="spanish">Español</md-option>
        <!-- <md-option value="english">English</md-option> -->
      </md-select>
      <!-- <p style="margin-right: 20px; font-weight: bold; color: #F2A869">Personas, Personajes y Políticos.</p> -->
    </header>
    <img class="sign" src="/static/public/img/arena-head.jpg" alt="">
  </div>
  <div layout layout-align="center center">
    <img ng-show='loading' width="30" src="static/public/svg/loading.svg" alt="">
  </div>
  <div layout class="contentCards owl-carousel" >
    <md-button ng-hide='loading' ng-click='DetailView(item)' class="card animation" ng-repeat='item in fotografia'>
      <img src='{{item.img}}' alt="" class="cardImage">
      <label class="labelCard" layout='row' layout-align='center center'>
        {{item.name}}
      </label>
    </md-button>
  </div>
  <footer layout='row' layout-align='center center'>
    <!-- <img src="/static/public/img/alex-alemany.jpg" alt=""> -->
    <img src="/static/public/img/aena-logo.png" alt="">
  </footer>
</div>
