@import "views/home/home.css";
@import "views/detail/detail.css";
/* font */
@font-face {
  font-family: 'Quicksand-Regular';
  src: url('public/fonts/Quicksand-Regular.ttf');
}
@font-face {
  font-family: 'Quicksand-Medium';
  src: url('public/fonts/Quicksand-Medium.ttf');
}
/* global css */
body {
  font-family: 'Quicksand-Regular', sans-serif;
  background-color: white;
}
